<div class="partial-html">
    <section class="scroll-section" id="live">
        <div class="card mb-5 bg-foreground d-none">
            <div class="card-body">
                <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5000">
                    <div id="liveToast" class="toast hide border-3 border-primary fade mb-2" role="alert" aria-live="assertive"
                        aria-atomic="true">
                        <div class="toast-header">
                            <strong class="me-auto">&nbsp;</strong>
                            <small>&nbsp;</small>
                            <button type="button" class="btn-close ml-1 mb-1 close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            
                            <span class="toast-message">Message here</span>
                            <div class="toast-buttons mt-2 pt-2 border-top">
                                <button type="button" class="toast-action-button btn btn-outline-primary">Yes</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="toast">No</button>
                            </div>                        
                        </div>
                        <div class="toast-footer">
                            <small>&nbsp;</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>